@media only screen and (max-width: 766px) {
nav ul li{
    display: none;
}
nav ul li.active {
    display: block;
    border-bottom: 1px solid ;
    border-image:linear-gradient(90deg,#fafafa 10%,#7441e2,#fafafa 90%);
    border-image-slice: 10;
    padding: 25px 3vh;
    margin-top:5px;
    border-radius: 5px;
}
nav ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:65px;
    right: 3vw;
    margin:2px 20px;
    z-index: 2;
}
.burgermenu{
    display: block;
    position: absolute;
    top: 23px;
    right: 5vw;
    scale: 1.3;
    padding:4px 7px;
    border-radius: 100%;
}
#bg4navul{
    /* height: 55vw;
    width:25vw ; */
    height:clamp(300px,55vw,320px);
    width:clamp(140px,34vw,160px);
    background-color: #fafafa;
    position:absolute;
    top: 69px;
    right: 5vw;
    z-index: 1;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.30),0px 0px 2.5px 3px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}
.firstslide .maintext{
    position: static;
    width: 100%;
    border: none;
    overflow: visible;
    animation: none;
}
.firstslide .subtext{
    margin-top: 0px;
}
.socialicons{ 
    position: absolute;
    top: 180px;
    left: 6px;
    transform: translateY(-50%);
    height: 180px;
    width: 40px;
}

#Aboutpage{
    grid-template-areas: 'main'
                         'left'
                         'right';
    grid-template-rows: 0.1fr 1.3fr 1.3fr;
    min-height: 100vh;
}
.proele_container {
    margin:0;
    padding-top: 8vw;
    box-shadow: none;
}
.proele_container .protype {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
}
.protype:nth-child(2n){
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.proele_container div img {
    min-height: 230px;
    min-width: 230px;
}
#phoneproject{
    margin-top: 3vw;
    min-height:280px;
    min-width: 150px;
    box-shadow: none;
    border-radius: 20px;
}
.proinfo{
    width: 70%;
    margin-top: 3vw;
    padding:0;
    border: none;
}
.proinfo p{
    width: 100%;
}
.proinfo button{
    margin:0.5vw 0 5vw 18vw;
}
#Contectpage input,#Contectpage button,textarea{
    width: 85%;
}
#Contectpage p{
    position: relative;
    left: -30%;
}
#Contectpage p:first-child{
    left: -35%;
}
#main_container{
    flex-direction: column;
}
#foo_right{
    text-align: center;
}
#for_container{
    text-align:justify;
    width:80%;
    margin-left:10%;
    margin-bottom:0.5vw;
}
#ending{
    width:80%;
    text-align: center;
}
.proinfo h2{
    margin: 5vw 0;
}




}

@media only screen and (max-width: 824px) {
    #down_arrow_box{
        display: none;
    }
}